.theme_control_kassa-brand {
    --color-control-bg-action: #00bf96;
    --color-control-bg-action-hover: #00d6a8;
    --color-control-bg-normal: #428bf0;
    --color-control-bg-normal-hover: #5a99f2;
    --color-control-bg-disable: hsla(0, 0%, 100%, .12);
    --color-control-typo-action: #fff;
    --color-control-typo-action-hover: #fff;
    --color-control-typo-normal: #fff;
    --color-control-typo-normal-hover: hsla(0, 0%, 100%, .9);
    --color-control-typo-disable: hsla(0, 0%, 100%, .3);
    --color-control-typo-placeholder: rgba(0, 0, 0, .3)
}
