.radio-button_theme_kassa.radio-button{
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    background: transparent;
    transition: transform .2s ease, box-shadow .2s ease;
    border-radius: 4px;
}
.radio-button_theme_kassa.radio-button:hover{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .16);
}
.radio-button_theme_kassa .radio-button__radio{
    font-size: var(--size-typo-l);
    line-height: 40px;
    padding: 0 var(--space-s);
    border: 1.5px solid var(--color-bg-border);
    transition: border-width .2s ease, border-radius .3s ease, box-shadow .2s ease, background .2s linear;
}
.radio-button_theme_kassa .radio-button__radio:hover{
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .16);
    border-radius: 5px ;
    transform: scale(1.01);
}


.radio-button_theme_kassa .radio-button__radio_checked_yes{
    background: $color-bg-radio-select;
    border-color: var(--color-control-bg-action);

}
.radio-button_theme_kassa .radio-button__radio_checked_yes:hover{
    background: $color-bg-radio-select-hover;
}
.radio-button_theme_kassa .radio-button__radio:not(.radio-button__radio_checked_yes):hover{
    background: var(--color-control-bg-normal-hover);
    color: var(--color-control-typo-normal-hover);

}


.radio-button_theme_kassa .radio-button__radio_side_right,
.radio-button_theme_kassa .radio-button__radio_side_right:before {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.radio-button_theme_kassa .radio-button__radio_side_left,
.radio-button_theme_kassa .radio-button__radio_side_left:before {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
@media screen and (min-width:$screen-s){
    .radio-button_theme_kassa .radio-button__radio_side_left:not(.radio-button__radio_checked_yes){
        border-right: 0;
    }
    .radio-button_theme_kassa .radio-button__radio_side_right:not(.radio-button__radio_checked_yes){
        border-left: 0;
    }
}


@media screen and (max-width:$screen-xs-max) {
    .radio-button_theme_kassa .radio-button__radio{
        border-radius: 0;
    }
    .radio-button_theme_kassa .radio-button__radio:first-child{
        border-radius: 4px 4px 0 0;
    }
    .radio-button_theme_kassa .radio-button__radio:last-child{
        border-radius: 0 0 4px 4px;
    }
}
