@media screen and (max-width:$screen-s){
    .pt-form__item_type_actions{
        flex-direction: column-reverse;
    }
    .pt-form__item_type_actions .button{
        width: 100%;
        margin:auto;
        margin-bottom: 12px;

    }
}
